.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header h1 {
    margin-right: 2rem;
  }
  
  .header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  .header nav a {
    color: white;
    text-decoration: none;
  }
  
  .icons a {
    margin-left: 1rem;
  }
  
  .icons img {
    width: 24px;
    height: 24px;
  }
  .tag-icon {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
    margin-left: 1.5rem; /* Espaço entre o texto e o ícone */
    vertical-align: middle; /* Alinha o ícone verticalmente com o texto */
  }
  .tag-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones horizontalmente */
    margin-top: 0.5rem; /* Espaço acima dos ícones */
    flex-wrap: wrap; /* Permite que os ícones quebrem para a linha seguinte, se necessário */
  }
  
  .tag-icon {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px; /* Ajuste o tamanho conforme necessário */
    margin: 0 0.5rem; /* Espaço entre os ícones */
    vertical-align: middle; /* Alinha o ícone verticalmente com o texto */
  }
  @media (max-width: 768px) {
    .header {
        flex-direction: column; /* Mantenha em coluna para melhor exibição em telas menores */
        align-items: center; /* Centraliza os itens */
        padding: 1rem; /* Ajuste conforme necessário */
    }

    .header nav ul {
        flex-direction: column; /* Mantenha o menu em coluna */
        gap: 0.5rem; /* Reduz o espaço entre os itens do menu */
    }

    .icons {
        margin-top: 1rem; /* Dá mais espaço para os ícones em telas pequenas */
    }

    .header h1 {
        font-size: 1.5rem; /* Ajuste o tamanho da fonte */
    }

    .header p {
        font-size: 0.9rem; /* Ajuste o tamanho da fonte */
    }

    .icons {
        margin-top: 0; /* Ajuste o espaço dos ícones */
    }
}
