footer { 
    display: flex;
    justify-content: center;
    background-color: white; /* Fundo branco */
    height: 40px;
    margin-top: 20px;
    font-size: 13px;
    color: black; /* Esta linha pode ser removida ou alterada */
}

.footer-container {
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: white; /* Garante que o texto dentro do footer tenha cor branca */
}